<a class="btn" href="/new" role="button">新規作成</a>
<ul class="memo_items">
  <% @memos.each do |memo| %>
    <li class="memo_item"><a href="/<%= memo["id"] %>"><%= memo["title"] %></a></li>
  <% end %>
</ul>