<!DOCTYPE html>
<html lang="ja">
  <head class="header">
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
      <h1 class="header_title">メモアプリ</h1>
      <%= yield %>
    </div>
  </body>
</html>