body {
  color: #716040;
  background: #f9f4ef;
}

.container {
  width: 580px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 2em;
  border: solid 2px #020826;
  border-radius: 0.4em;
}

.header_title {
  color: #020826;
  border-bottom: solid 2px #020826;
}

.memo_items {
  margin-left: 0em;
  border-radius: 0.3em;
  padding-left: 1em;
}

a {
  color: #f25042;
  text-decoration: none;
}

.btn {
  font-size: 1.0em;
  font-weight: bold;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #020826;
  border: solid 1.5px #020826;
  border-radius: 0.3em;
  background: #f9f4ef;
}

.btn:hover {
  background: #8c7851;
  color: #fffffe;
}

.btn_items {
  padding-bottom: 1em;
  text-align:  center;
}

.memo_title {
  margin-bottom: 0em;
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

.memo_body {
  background: #fffffe;
  margin-top: 0em;
  padding: 0.5em 0em 0.5em 1em;
  border-radius: 0.3em;
}

.form {
  color: #020826;
  font-weight: bold;
  padding-bottom: 1em;
}

.form_title {
  font-size: 1em;
  height: 1.3em;
  width: 98%;
  padding: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #aaa;
}

.form_body {
  font-size: 1em;
  height: 8em;
  width: 98%;
  padding: 0.3em;
  border-radius: 0.3em;
  border: solid 1px #aaa;
}

:focus {
  outline: none;
}